<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACCBroadcaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACCBroadcaster.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionPw" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandPw" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginRemembered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomReplayLength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
        </ACCBroadcaster.Properties.Settings>
    </userSettings>
</configuration>